/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache/
uninstall-postgresql.app/
pgAdmin_3rd_party_licenses.txt
pgAdmin_license.txt
pgAdmin 4.app/
doc/
